.diet-plans-item {
  padding-top: 40px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: $color-grey;

  @include outline(red);
}

.diet-plans-item__title {
  margin-top: 0;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: inherit;
  text-transform: uppercase;
  color: $color-black;
}

.diet-plans-item__description {
  margin-top: 0;
  margin-bottom: 45px;

  font-family: "Arial", sans-serif;
  color: $color-dark-grey;
}

.diet-plans-item__btn {
  font-size: 16px;
  color: $color-black;
  text-transform: uppercase;
}

@include tablet-size {
  .diet-plans-item {
    min-height: 370px;
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 55px;
  }

  .diet-plans-item__title {
    margin-bottom: 25px;

    font-size: 36px;
  }

  .diet-plans-item__description {
    max-width: 375px;
    margin-bottom: 60px;

    font-size: 16px;
  }

  .diet-plans-item__btn {
    font-size: 20px;
  }
}

@include desktop-size {
  .diet-plans-item__title {
    margin-bottom: 75px;
  }

  .diet-plans-item__description {
    max-width: 100%;
    margin-bottom: 35px;
  }
}
