.home {
  margin-bottom: 20px;

  text-align: center;
  color: #ffffff;
}

.home__container {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin: 0 auto;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url("/img/index-can-mobile@1x.png"), url("/img/index-background-mobile@1x.jpg"), linear-gradient($color-green 50%, #ffffff 50%);
  background-repeat: no-repeat, no-repeat;
  background-position: center 165px, center 0, top;
  background-size: 280px 270px, 100%, 100%;
}

.home__title {
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.home__title br {
  display: none;
}

.home__sub-title {
  margin-top: 0;
  margin-bottom: 30px;

  text-transform: uppercase;
}

.home__btn {
  margin-top: auto;
}

@include tablet-size {
  .home {
    margin-bottom: 0;

    text-align: left;
    color: $color-black;
  }

  .home__container {
    align-items: flex-start;
    max-width: 768px;
    min-height: 843px;
    padding-top: 33px;
    padding-left: 118px;
    padding-right: 0;

    background-image: url("/img/index-can-tablet@1x.jpg"), none, none;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 709px 609px;
    background-color: #ffffff;
  }

  .home__title {
    margin-bottom: 38px;

    font-size: 60px;
  }

  .home__title br {
    display: block;
  }

  .home__sub-title {
    margin-bottom: 45px;

    font-size: 20px;
  }

  .home__btn {
    width: auto;
    margin-top: 0;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 29px;

    font-size: 20px;
  }
}

@include desktop-size {
  .home {
    margin-top: -175px;
    margin-bottom: 80px;
  }

  .home__container {
    max-width: 1920px;
    min-height: 700px;
    padding-top: 227px;
    padding-left: 190px;

    background-image: url("/img/index-can-desktop@1x.png"), url("/img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, $color-green 50%);
    background-position: right 37% bottom 55px, right center, right;
    background-size: 552px 499px, 50%, 100%;
  }

  .home__sub-title {
    margin-bottom: 49px;
  }
}
