.success-story-table {
  text-align: center;
}

.success-story-table__tr {
  font-size: 24px;
  text-transform: uppercase;

  &:last-child {
    .success-story-table__td {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      text-transform: lowercase;
    }
  }
}

@include tablet-size {
  .success-story-table__tr {
    font-size: 30px;

    &:last-child {
      .success-story-table__td {
        font-size: 14px;
      }
    }
  }
}
