.home {
  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;
  color: #ffffff;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: $color-green;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.home__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.home__sub-title {
  margin-top: 0;
  margin-bottom: 30px;

  text-transform: uppercase;
}
