.site-list {
  @include list-reset;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
}

.site-list__link {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}
