.additional-products__container {
  padding-top: 25px;
  padding-bottom: 35px;
}

.additional-products__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 400;
}

.additional-products__list {
  @include list-reset;

  margin-bottom: 40px;
}

@include tablet-size {
  .additional-products__container {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .additional-products__title {
    margin-bottom: 75px;

    font-size: 36px;
  }

  .additional-products__list {
    margin-bottom: 70px;
  }
}

@include desktop-size {
  .additional-products__container {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  .additional-products__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .additional-products__list {
    flex-grow: 2;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
