.btn-show-all {
  color: #000000;

  background-color: $color-grey;

  &:hover {
    background-color: $color-grey-fourth;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }
}
