.catalog__container {
  padding-top: 20px;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 35px;

  font-size: 36px;
  font-weight: 400;
}

.catalog__list {
  @include list-reset;

  margin-left: -20px;
  margin-right: -20px;
}

.catalog-item__info {
  flex-grow: 2;
}

@include tablet-size {
  .catalog__container {
    padding-top: 24px;
  }

  .catalog__title {
    margin-bottom: 75px;

    font-size: 60px;
  }

  .catalog-item__img {
    width: 161px;
    height: 172px;

    margin-bottom: 35px;

    @include outline(red);
  }

  .catalog-item--big .catalog-item__img {
    width: 195px;
    height: 208px;
  }

  .catalog__list {
    margin-left: auto;
    margin-right: auto;
  }
}

@include desktop-size {
  .catalog__container {
    padding-top: 8px;
  }
}
