.footer-logo {
  text-align: center;
}

.footer-logo__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

@include tablet-size {
  .footer-logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}
