.page-header {
  @include outline(purple);
}

.page-header__container {
  outline: 1px solid red;
}

.page-header__logo {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
}

@include tablet-size {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .page-header__logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@include desktop-size {
  .page-header__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
