.page-footer {
  background-color: $color-grey;
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;

  border-bottom: 1px solid $color-grey-third;
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid $color-grey-third;
}

.page-footer__copyright {
  padding-top: 18px;
  padding-bottom: 20px;
}

@include tablet-size {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .page-footer__logo {
    border-bottom: none;
  }

  .page-footer__social {
    border-bottom: none;
  }
}
