.page-header__container {
  position: relative;

  border-bottom: 1px solid $color-grey;
}

.page-header__logo {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

@include tablet-size {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;

    border-bottom: none;
  }

  .page-header__logo {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo-img {
    width: 173px;
    height: 58px;
  }
}

@include desktop-size {
  .page-header__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
